

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

header {
    background-color: gray;
}
h1 {
    color: blue;
}
a, span {
    color: orangered;
}

ul {
    font-weight: bold;
}