.headline-style {
    font-family: 'Comic Sans MS', sans-serif;
    color: #6347ff; 
    font-size: 36px;
}


.list-style {
    font-family: 'Verdana', sans-serif;
    color: #008229; 
    font-size: 20px;
}