
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
a {
    color: black;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.638);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.477);
    padding: 2vw 10px;

    position: fixed;

    top: 0;
    left: 0;
    right: 0;
}
header img {
    margin-top: 45px;
}

.icon svg {
    fill: gray;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: 0.5s;

    position: fixed;
    bottom: 20px;
    right: 20px;

}
.icon svg:hover {
    transform: scale(1.2);
    fill: rgb(157, 128, 22);
}
main {

}

.stik {
    background-color: antiquewhite;
    min-height: 800px;
}
.stik div {
    background-color: white;
    border: 2px dotted darkgrey;
    height: 150px;
    width: 150px;

    position: sticky;
    top: 10px;
    left: 10px;
}
hr {
    margin: 5px 0;
}
.abso {
    height: 700px;
    background-color: rgb(208, 248, 195);
    display: flex;
    justify-content: center;
    align-items: center;
}

.abso div {
    width: 80%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.547);
    border-radius: 25px;
    box-shadow: 5px 5px 10px black;
    padding: 30px;
    margin: auto;

    position: relative; 
    /* 和子物体的position absolut 0 0结合使用  */
}

.abso svg {
    height: 50px;
    width: 50px;
    cursor: pointer;
    fill: rgba(0, 0, 0, 0.683);
    
    position: absolute;
    top: -15px;
    right: -15px;
}
.abso button {
    background-color: rgba(255, 255, 255, 0.675);
    border-radius: 5px;
    padding: 3px;
}

.index {
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.index img {
    height: 300px;
    width: 200px;
    object-fit: cover;
    z-index: 1;
}

.index div {
    background-color: rgb(210, 210, 210);
    height: 200px;
    width: 200px;
    margin-left: -40px;

}

.pro {
    height: 1200px;
    min-width:600px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro div {
    max-width: 250px;

}
.pro h1 {
    font-size: 45px;
}
.pro img {
    position: absolute;
}

.pro img:nth-of-type(1) {
    top: -50px;
    right: 100px;
}
.pro img:nth-of-type(2) {
    top: 280px;
    left: 55px;
}
.pro img:nth-of-type(3) {
    top: 150px;
    right: 0px;
}